body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 60%;
  max-width: 300px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-icon {
  cursor: pointer;
  font-size: 24px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s;
  margin:10px
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
}

.weather-display {
  margin: 20px 0;
  background: #889898;
    padding: 10px;
    color: #fff;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.forecast-card {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  flex: 1 1 150px; /* Responsive flex basis */
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forecast-card img {
  width: 50px; /* Set image size */
  height: auto;
}

@media screen and (max-width: 570px) {
  button {
   
    display: block;
    margin-top: 10px; 
  }

  .app h1{
    font-size: 30px;
  }
}

